#footer {
    display: block;
    background: white;
    right: 0;
    bottom: -11%;
    left: 0;
    width: 100%;
    border-top: 4px solid #ffffff;
    position: relative;
    z-index: 0;
}

.footer-bottom-middle-right {
    display: none;
}

#footer .views-element-container {
    background-color: white;
}

section.footer-bottom-middle {
    width: 1200px;
}

.footer-top,
.footer-bottom,
.footer-bottom-middle {
    padding: 0 0;
}

h2.node-title {
    display: none;
}

.copyrights-menu.copyright-links.fright.clearfix a {
    font-family: 'Telefonica', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: black;
    margin: 0;
    padding: 5px 0;
}
.footer-bottom-middle {  
    position: relative;
    left: -4%;
}

@media (min-width: 370px) and (max-width: 800px) {
    .copyrights-menu.copyright-links.fright.clearfix a {        
        font-size: 10px;        
    }
    .field.field--name-body.field--type-text-with-summary.field--label-hidden.field-item img{
        width: 30%;
    }
    #logo-au {
        width: 8%;
    }
}
@media (min-width: 800px) and (max-width: 1200px){
    .copyrights-menu.copyright-links.fright.clearfix a {        
        font-size: 10px;        
    }
    .field.field--name-body.field--type-text-with-summary.field--label-hidden.field-item img{
        width: 30%;
    }
    #logo-au {
        width: 8%;
    }
}