li.menu-item.menu-item-level-1.menu-item-active .is-active {
    background-color: #0077b6 !important; /* Cambiar a un azul más oscuro al hacer hover */
    color: #fff !important; /* Texto blanco en hover */
}
/* Hace que el menú sea horizontal */
#block-tara-menuturismohorizontal .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;     
}

/* Estilo para cada ítem del menú */
#block-tara-menuturismohorizontal .menu-item {
    margin: 0 10px;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.3);
     border: 1px solid #0077b6; /* Borde más oscuro */
    border-radius: 3px;
}

/* Estilo para los enlaces dentro de los ítems */
#block-tara-menuturismohorizontal .menu-item a {
    display: block;
    padding: 10px 20px;
    background-color: #add8e6; /* Azul claro */
    color: #000; /* Color del texto */
    text-decoration: none;
    /*border: 1px solid #0077b6; /* Borde más oscuro */
    /*border-radius: 3px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Animación suave al hacer hover */
}

/* Cambiar color al hacer hover */
#block-tara-menuturismohorizontal .menu-item a:hover {
    /*background-color: #0077b6; /* Cambiar a un azul más oscuro al hacer hover */
    color: #fff; /* Texto blanco en hover */
}

#block-tara-menuobservatoriohorizontal .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

}

#block-tara-menuobservatoriohorizontal .menu-item {
    margin: 0 10px;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.3);
}

#block-tara-menuobservatoriohorizontal .menu-item a {
    display: block;
    padding: 10px 20px;
    background-color: #add8e6;
    /* Azul claro */
    color: #000;
    /* Color del texto */
    text-decoration: none;
    border: 1px solid #0077b6;
    /* Borde más oscuro */
    border-radius: 4px;
    /* Bordes redondeados */
    transition: background-color 0.3s ease;
    /* Animación suave al hacer hover */
}

#block-tara-menuobservatoriohorizontal .menu-item a:hover{
    /*background-color: #0077b6;
    /* Cambiar a un azul más oscuro al hacer hover */
    color: #fff;
    /* Texto blanco en hover */
}