.content-wrap h1 {
    font-size: 25px;
    font-family: 'Comfortaa', 'Raleway', sans-serif
}

.content-wrap h4 {
    font-size: 20px;
    font-family: 'Comfortaa', 'Raleway', sans-serif
}

.content-wrap ul{
    margin-bottom: 0px;
}

.rowCronoTextLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cronoCenterSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 310px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 17px 360px;
    background-image: linear-gradient(180deg, #ffffff 0%, #d9d9d9 22%, #d9d9d9 84%, #ffffff 100%);
    justify-content: center;
}

.cronoCenterSide>img {
    max-width: 30%;
}

.cronoRigthSide>img {
    max-width: 100%;
}

.cronoLeftSide {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cronoLeftSide>img {
    max-width: 100%;
}

/*@media (max-width: 575.98px) {
    .container {
        width: 100% !important;
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
}

@media (max-width: 768px) {
    .cronoSpanMobile{
        font-size: 12px !important;
   }
   .cronologia{
    font-size: 12px !important;
}
}*/
@media (max-width: 768px) {
   .content-wrap h1 {
        font-size: 16px;
    }

    .content-wrap h4 {
        font-size: 10px;
    }

    .cronoLeftSide,
    .cronoRigthSide {
        width: 100%;
        text-align: center;
    }

    .cronoCenterSide {
        display: none;
    }

    .content-wrap .customImgMobile {
        width: 100%;
        height: auto;
    }

    .content-wrap .cronopMobile {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .content-wrap h1 {
        font-size: 16px;
    }

    .content-wrap h4 {
        font-size: 12px;
    }

    .content-wrap .cronopMobile {
        font-size: 12px;
    }
}